#map {
  position: relative;
  display: flex;
  height: 200vh;
  width: 100%;
}
.video-container {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  height: 35rem;
  justify-content: center;
}
.video-container video {
  width: 80%;
  height: 70%;
  object-fit: cover;
}
.background-70 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: black;
  z-index: 0;
}
.items-container{
    position: relative;
    display: flex;
    padding-top: 5rem;
    align-items: center;
    height: 100%;
    width: 100%;
    bottom: 2rem;
}
#map .text-container{
    height: 100vh;
    color: white;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#map .map-container{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text-container > p:first-of-type {
  font-size: 3rem;
  margin: 0;
}
.text-container > p:nth-of-type(2) {
  font-size: 5rem;
  font-weight: 900;
  margin: 0 0 3rem 0;
}
.text-container > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.text-container > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container > div > span{
  font-size: 2rem;
  font-weight: 100;
}
.text-container > div > span:nth-of-type(2){
  font-size: 4rem;
}
.text-container > div:nth-of-type(2) p{
  font-size: 2rem;
  color: var(--secondary-color);
  margin: 0;
}
.text-container > div:nth-of-type(2) p:nth-of-type(2){
  font-size: 4rem;
}
.icons-container {
  position: relative;
  width: 35rem;
  height: 35rem;
}

.icons-container .map-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* PINES - ubicaciones personalizadas fijas */
.pin {
  position: absolute;
  height: 1.5rem;
  transform: translate(-50%, -50%);
}
#location-pin{
  height: 5rem;
}
/* pin restaurante */
.pin:nth-of-type(2) {
  top: 72%;
  left: 87%;
}

/* pin location */
.pin:nth-of-type(3) {
  top: 25%;
  left: 53%;
}

/* pin auditorio */
.pin:nth-of-type(4) {
  top: 22%;
  left: 24%;
}

@media screen and (min-width: 768px) {
  .video-container {
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
    height: 40rem;
  }
}
@media screen and (min-width: 769px) and (min-height: 721px) {
  .video-container {
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
    height: 60rem;
  }
  #map .text-container{
    width: 50%;
    height: 60rem;
}
#map .map-container{
    width: 50%;
    height: 60rem;
}
.icons-container {
  position: relative;
  width: 55rem;
  height: 55rem;
}

/* pin-restaurant */
.pin:nth-of-type(2) {
  top: 72%;
  left: 83%;
}

/* pin location */
.pin:nth-of-type(3) {
  top: 28%;
  left: 53%;
}

/* pin auditorio */
.pin:nth-of-type(4) {
  top: 22%;
  left: 28%;
}
#location-pin{
  height: 7rem;
}
.text-container > p:first-of-type {
  font-size: 5rem;
}
.text-container > p:nth-of-type(2) {
  font-size: 7rem;
}
.text-container > div:first-of-type {
  gap: 1rem;
  margin-bottom: 6rem;
}
.text-container > div > span{
  font-size: 4rem;
}
.text-container > div > span:nth-of-type(2){
  font-size: 6rem;
}
.text-container > div:nth-of-type(2) p{
  font-size: 4rem;
  color: var(--secondary-color);
  margin: 0;
}
.text-container > div:nth-of-type(2) p:nth-of-type(2){
  font-size: 6rem;
}
}
